:host {
  display: block;
  background-image: url('https://images.unsplash.com/photo-1604147706283-d7119b5b822c?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTB8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D'); /* Adjust the path to your image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: -8px;
  margin-top: 10px;
  padding: 1px; /* Ensures the background covers the entire viewport height */
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

.search-bar {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 55px;
  margin-right: 85px;
  display: flex;
}

.search-bar input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1.5px solid rgba(0, 0, 0, 0.633);
  border-radius: 35px 0 0 35px;
  font-size: 16px;
}

.search-bar button {
  padding: 12px 20px;
  background-color: #700;
  color: #fff;
  border: none;
  border-radius: 0 35px 35px 0;
  font-size: 16px;
  cursor: pointer;
}

.donation-cards {
  display: flex;
  flex-wrap: wrap;
  color: #fff ;
}

.donation-card {
  width: calc(24.33% - 12px); /* Adjust width to fit three cards in one row */
  margin: 10px;
  margin-left: 5%;
  padding: 20px;
  border: 1px solid #170000;
  border-radius: 5px;
  background-color: #700;
  box-shadow: 0 4px 8px rgba(37, 20, 20, 37);
  transition: box-shadow 0.6s;
  height: 100%; /* Adjust the height of the cards */ 
}
.donation-card:hover {
  box-shadow: 0 18px 26px rgb(150, 0, 0); /* Enhanced box shadow on hover */
}

.desctext{
  width: 200px; /* Set a fixed width */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflowed content */
  text-overflow: ellipsis; 
}

@media (max-width: 992px) {
  .donation-card {
    width: calc(50% - 20px); /* Adjust width for smaller screens */
  }
}

@media (max-width: 768px) {
  .donation-card {
    width: calc(100% - 20px); /* Adjust width for even smaller screens (mobile) */
  }
}


.donation-card img {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
}

.donation-card h2 {
  font-size: 20px;
  margin-top: 10px;
}

.donation-card p {
  margin: 5px 0;
  font-size: 16px;
}

.donation-card button {
  margin-top: 0px;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  color: #700;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.donation-card button:hover {
  background-color: rgba(30, 14, 12, 0.357);
}

/* Add these styles to your main.component.css file */

.progress-bar {
  width: 100%;
  height: 20px; /* Adjust height as needed */
  padding: 5px;
  background-color: #111111; /* Background color of the progress bar */
  border-radius: 5px;
  margin-top: 10px; /* Adjust margin as needed */
  margin-bottom: 10px;
}

.progress {
  height: 100%;
  background-color: #700; /* Color of the progress bar */
  border-radius: 5px;
}
